<script src="./Login.js"></script>

<template>
    <div sid='Login' :xid='xid' class="Login">
        <el-row>
            <el-col :span="24">
                <p>手机号码</p>
                <el-input placeholder="使用手机号码作为账号名" v-model="ipt.mobile" ref='loginMobile' @change='validate("loginMobile")'>
                </el-input>
            </el-col>
        </el-row>
        <div style="height:8px"></div>
        <el-row>
            <el-col :span="24">
                <p>账号密码</p>
                <el-input type='password' placeholder="任意6～18位字符" v-model="ipt.pw" ref='loginPw' @change='validate("loginPw")'></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-button type='text' @click='resetPwDialogVis=true'>忘记密码了？</el-button>
        </el-row>
        <el-row>
            <el-col :span="24" style='margin-top:12px'>
                <el-button type='primary' class='btn' @click='mobileLogin' :disabled='!validates.loginMobile.pass || !validates.loginPw.pass'>登录</el-button>
            </el-col>
        </el-row>

        <el-dialog title="重置密码" v-model="resetPwDialogVis" size="small">
            <component is="ResetPw" :conf='resetPwConf'></component>
        </el-dialog>
    </div>
</template>

<style scoped>
    .validateFail {
        background-color: #ffd9d9;
        border: 1px solid red;
    }

    .label {
        text-align: right;
        padding-right: 12px;
        line-height: 10px;
        font-size: 14px;
        font-weight: 300px;
    }

    .btn {
        width: 100%;
        height: 48px;
        font-size: 16px
    }

    p {
        margin: 8px 0;
    }

    input {
        height: 32px;
        border-radius: 0;
    }

</style>
<style>
    .Login .el-input__inner {
        height: 48px;
        border-radius: 0;
    }

</style>
