<script src="./MarkCard.js"></script>

<template>
    <div sid='MarkCard'>
        <el-row class="card">
            <div class='textGrp elps'>
                <div class='ptitle'>{{fill.check.task.type}} : {{fill.check.plan.title}} / {{fill.check.task.title}}</div>
                <div class="subtitle">{{fill.check.author.name}} / {{Moment(fill.created_at).format('MM-DD hh:mm:ss')}}</div>
                <div class="elps" v-if='fill.check && fill.check.lastSubmit'>
                    <div class="content">
                        <span>待审内容：</span>
                        <el-button type='text' @click='taskDialogVis=true'>查看审核标准</el-button>
                    </div>
                    <div class="content" v-if='fill.check.lastSubmit.type=="text"'>{{fill.check.lastSubmit.content}}</div>
                    <a v-if='fill.check.lastSubmit.type=="image"' :href="fill.check.lastSubmit.content" target="_blank">
                        <img src='fill.check.lastSubmit.content' style='height:180px'>
                    </a>
                    <a v-if='fill.check.lastSubmit.type=="audio"' :href="fill.check.lastSubmit.content" target="_blank">
                        <audio :src="fill.check.lastSubmit.content" controls="controls" style='height:180px'>您的浏览器不支持音频播放</audio>
                    </a>
                    <a v-if='fill.check.lastSubmit.type=="video"' :href="fill.check.lastSubmit.content" target="_blank">
                        <video :src="fill.check.lastSubmit.content" controls="controls" style='height:180px'>您的浏览器不支持视频播放</video>
                    </a>
                    <a v-if='fill.check.lastSubmit.type=="link"' :href="fill.check.lastSubmit.content" target="_blank">{{fill.check.lastSubmit.content}}</a>
                </div>
                <div class='lbtnGrp elps'>
                    <div v-if='fill.state=="marked"'>
                        <el-tooltip v-show='fill.pass' content="已通过" placement="left-start">
                            <i class="fa fa-check fa-lg"></i>
                        </el-tooltip>
                        <el-tooltip v-show='!fill.pass' content="已驳回" placement="left-start">
                            <i class="fa fa-close fa-lg"></i>
                        </el-tooltip>
                    </div>
                    <div v-if='!fill.state || fill.state=="marking"'>
                        <el-tooltip v-show='!fill.pass' content="不通过" placement="top">
                            <el-button type='danger' class='checkBtn' @click='setReject'>
                                <i class="fa fa-close fa-lg"></i> 驳回
                            </el-button>
                        </el-tooltip>
                        <el-tooltip v-show='!fill.pass' content="通过" placement="top">
                            <el-button type='primary' class='checkBtn' @click='setPass'>
                                <i class="fa fa-check fa-lg"></i> 通过
                            </el-button>
                        </el-tooltip>
                    </div>
                </div>
            </div>
        </el-row>
        <el-dialog title="审核标准" v-model="taskDialogVis" size="small">
            <span >{{fill.check.task?fill.check.task.desc:'无'}}</span>
        </el-dialog>

    </div>
</template>

<style scoped>
    .content {
        font-size: 13px
    }

    .textGrp {
        padding-left: 12px;
    }

    .subtitle {
        font-size: 13px;
        color: #CCC;
    }

    a {
        font-size: 13px;
    }

    .checkBtn {
        padding: 8px 18px;
        display: inline-block;
    }

    .lbtnGrp {
        text-align: left;
        margin-top: 16px;
    }

    .inline {
        display: inline-block;
        vertical-align: middle;
    }

    .cardcheck {
        text-align: center;
        cursor: pointer;
        height: 100%;
        margin-left: -8px;
    }

    .curpointer {
        cursor: pointer;
    }

    .ptitle {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        white-space: nowrap;
    }

    .cardLeft p {
        font-size: 13px;
        color: #666;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    .card2:hover {
        box-shadow: 0 0 12px #888;
    }

</style>
