<script src="./ClassDetail.js"></script>

<template>
    <div sid='ClassDetail' :xid='xid' style="width:100%" class='ttClassDetail'>
        <el-row type="flex" justify="center" style='margin-top:12px'>
            <el-col class='nav' :span="20" :sm="16">
                <span class="link" @click='goBack'><i class="fa fa-caret-left"></i> 返回</span>
                <span> / </span>
                <span class="link" @click='goHome'>我的首页</span>
                <span> / </span>
                <span>班级详情</span>
            </el-col>
        </el-row>
        <el-row type="flex" justify="center">
            <el-col class='nav' :span="20" :sm="16">
                <h2 style="margin:8px 0;color:#334">{{groupInfo.name}}</h2>
            </el-col>
        </el-row>
        <el-row v-if='groupInfo.name' id='main' type="flex" justify="center" style='margin-top:12px'>
            <el-col :span="20" :sm="16">
                <el-tabs v-model="activeName" @tab-click="xgoTab()" style='width:100%'>
                    <el-tab-pane label="实训方案" name="practice">
                        <el-button v-if='groupInfo.myRole=="管理员"' type='primary' style='width:120px' @click='addPlan'> <i class='fa fa-plus' style="margin-right:12px"></i> 新 实 训</el-button>
                        <el-row v-for='(p,n) in groupInfo.plans' style='margin:12px 0'>
                            <component is="practiceCard" :fill='p' :index='n'>
                                <el-button v-if='groupInfo.myRole=="管理员"' type='text' @click='removePlan(p)'><i class='fa fa-times fa-lg'></i></el-button>
                            </component>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="班级成员" name="member">
                        <el-button v-if='groupInfo.myRole=="管理员"' type='primary' style='width:120px' @click='addMemberDialogVis=true'> <i class='fa fa-plus' style="margin-right:8px"></i> 新 成 员</el-button>
                        <el-button v-if='groupInfo.myRole=="管理员"' type='primary' style='width:120px' @click='addTeacher'> <i class='fa fa-plus' style="margin-right:8px"></i> 新 导 师</el-button>
                        <el-button v-if='groupInfo.myRole=="管理员"' type='primary' style='width:120px' @click='addAssistant'> <i class='fa fa-plus' style="margin-right:8px"></i> 新 助 理</el-button>
                        <el-row style='margin:-4px;margin-top:8px'>
                            <el-col :xs='24' :sm='12' :lg='8' v-if='groupInfo.manager' class='cardrow'>
                                <component is="userCard" :fill='groupInfo.manager' role='管理员'></component>
                            </el-col>
                            <el-col :xs='24' :sm='12' :lg='8' v-if='groupInfo.teachers.length>0' v-for='u in groupInfo.teachers' class='cardrow'>
                                <component is="userCard" :fill='u' role='导师'>
                                    <el-button type='text' @click='removeTeacher(u)'><i class='fa fa-times fa-lg'></i></el-button>
                                </component>
                            </el-col>
                            <el-col :xs='24' :sm='12' :lg='8' v-if='groupInfo.assistants.length>0' v-for='u in groupInfo.assistants' class='cardrow'>
                                <component is="userCard" :fill='u' role='助理'>
                                    <el-button type='text' @click='removeAssistant(u)'><i class='fa fa-times fa-lg'></i></el-button>
                                </component>
                            </el-col>
                            <el-col :xs='24' :sm='12' :lg='8' v-for='(u,n) in groupInfo.vmembers' class='cardrow'>
                                <component is="userCard" :fill='u' :index='n' role='普通成员'>
                                    <el-button type='text' @click='removeMemeber(u)'><i class='fa fa-times fa-lg'></i></el-button>
                                </component>
                            </el-col>
                        </el-row>
                        <div style='height:12px'></div>
                    </el-tab-pane>
                    <el-tab-pane label="班级信息" name="info">
                        <div class="txtrow">
                            <div class="infotitle">班级介绍</div>
                            <div>{{groupInfo.desc}}</div>
                        </div>

                        <div class="txtrow">
                            <div class="infotitle">所属院校</div>
                            <div>{{groupInfo.school.name}}</div>
                        </div>

                        <div class="txtrow">
                            <div class="infotitle">成员总数</div>
                            <div>{{groupInfo.members.length}}</div>
                        </div>

                        <div class="txtrow">
                            <div class="infotitle">实训总数</div>
                            <div>{{groupInfo.plans.length}}</div>
                        </div>

                        <div class="txtrow">
                            <div class="infotitle">创建时间</div>
                            <div>{{groupInfo.created_at.substr(0,10)}}</div>
                        </div>

                    </el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>
        <div style="height:120px"></div>
        <el-dialog title="添加班级新成员" v-model="addMemberDialogVis">
            <p>请按照‘电话-空格-姓名-空格’格式输入</p>
            <el-input placeholder="示例:13800008811 王晓明 13988667721 李雷 ..." v-model="addMemberDialog.ipt"></el-input>
            <el-row>
                <el-col :span="24" style='margin-top:12px'>
                    <el-button type='primary' @click='addMembers' style='width:120px'>确定</el-button>
                    <el-button type='text' @click='addMemberDialogVis=false'>取消</el-button>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</template>


<style scoped>
    .cardrow {
        padding: 4px
    }

    .roletag {
        font-size: 13px;
        color: #888;
    }

    .txtbtn {
        cursor: pointer;
        margin: 4px;
        user-select: none;
    }

    .desc {
        margin: 0 0 24px 0;
        font-size: 14px;
        padding: 0;
    }

    .infotitle {
        color: #888;
        font-weight: 300;
        margin: 8px 0;
        font-size: 14px;
        padding: 0;
    }

    .nav {
        color: #1cbbb4;
        font-size: 13px;
    }

    .nav .link {
        cursor: pointer;
    }

    .nav .link:hover {
        color: #178984;
    }

    #profile .txtrow {
        text-align: left;
        width: 100%;
        height: 36px;
        font-size: 14px;
    }

    .txtrow div:first-child {
        color: #888;
        font-weight: 100;
        width: 80px;
        text-align: left;
        display: inline-block;
        margin-right: 1%;
    }

    .txtrow div:last-child {
        font-weight: 400;
        width: 49%;
        text-align: left;
        display: inline-block;
        font-size: 14px;
    }

    .avatar {
        width: 128px;
        height: 128px;
        border-radius: 128px;
        border: 1px solid #AAA;
        background: #EEE
    }

    .el-tabs__content {
        overflow: visible
    }

    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #d3dce6;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

</style>



<style>
    .ttClassDetail {
        letter-spacing: 0.2px;
    }

    .ttClassDetail .el-input__inner {
        height: 40px;
        border-radius: 0;
    }

    .el-message-box__input .el-input__inner {
        height: 40px;
        border-radius: 0;
    }

    .el-dialog--small {
        min-width: 400px;
    }

</style>
