<script src="./PackCard.js"></script>

<template>
    <div sid='PackCard' :class='{expired:Moment(fill.date).add(Number(fill.days), "days")<Moment()}'>
        <div @click='showTasks' >
            <el-row class="card"  :class='{today:fill.isToday}'>
                <el-col :span='3' :lg='2' class='cardcheck' style='font-size:13px'>
                    <div style="font-weight:600">{{Moment(fill.date).format('M月D日')}}</div>
                    <div style="font-weight:600">{{Moment(fill.date).format('dddd')}}</div>
                </el-col>
                <el-col :span='19' :lg='20' class='cardLeft'>
                    <div class='ptitle'>{{fill.title}}</div>
                    <p>{{fill.desc || "暂无信息"}}</p>
                </el-col>
                <el-col :span='2' class='cardBtn'>
                    <el-button type='text'>
                        <i v-show='!tasksVis' class="fa fa-caret-left fa-lg"></i>
                        <i v-show='tasksVis' class="fa fa-caret-down fa-lg"></i>
                    </el-button>
                </el-col>
            </el-row>
        </div>
        <div v-if='tasksVis' :class='{tasksBox:!fill.isToday,tasksBox2:fill.isToday}'>
            <component v-for='t in fill.tasks' is="taskCard" :fill='t' style='margin:12px 0'></component>
        </div>
    </div>
</template>

<style scoped>
    .today{
        background: #baffc7;
    }
    .tasksBox {
        padding-left: 12px;
        border-left: 8px solid #EEE;
    }
    .tasksBox2 {
        padding-left: 12px;
        border-left: 8px solid #baffc7;
    }

    .expired {
        opacity: 0.5;
    }

    .cardcheck {
        text-align: center;
        cursor: pointer;
        height: 100%;
        margin-left: -8px;
    }

    .curpointer {
        cursor: pointer;
    }

    .ptitle {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        padding-left: 18px;
        border-left: 1px solid #CCC;
    }

    .cardLeft p {
        font-size: 13px;
        color: #666;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    .card2:hover {
        box-shadow: 0 0 12px #888;
    }

</style>
