<script src="./ClassCard.js"></script>

<template>
    <div id='PracticeCard'>
        <el-row class="card">
            <el-col :span='20' class='cardLeft'>
                <div @click='goClassDetail' style="background:#FFF">
                    <div class='ptitle'>{{fill.name}}</div>
                    <p v-if='fill.myRole'>{{fill.myRole}}</p>
                    <p v-if='fill.school'>院校 : {{fill.school.name}}</p>
                    <p v-if='fill.members'>成员 : {{fill.members.length}}</p>
                </div>
            </el-col>
            <el-col :span='4' class='cardBtn'>
                <slot><i class="fa fa-chevron-right" @click='goClassDetail'></i></slot>
            </el-col>
        </el-row>
    </div>
</template>

<style scoped>
    .ptitle {
        font-size: 15px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        margin-left: 12px
    }

    .cardLeft p {
        font-size: 13px;
        color: #666;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        align-items: center;
        display: flex;
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        cursor: pointer;
    }

    .card:hover {
        box-shadow: 0 0 12px #888;
    }

</style>
