<script src="./PracticeCard.js"></script>

<template>
    <div sid='PracticeCard'>
        <el-row class="card" :class='{active:fill.active}'>
            <el-col :span='20' class='cardLeft'>
                <div @click='goPracticeDetail'>
                    <div class='ptitle' v-if='fill.title' :class='{expire:!fill.open}'>{{fill.title}}</div>
                    <p v-if='fill.group'>班级 : {{fill.group.name}}</p>
                    <p v-if='fill.begin&&fill.end'>周期 : {{fill.begin.substr(0,10)}} ~ {{fill.end.substr(0,10)}}</p>
                </div>
            </el-col>
            <el-col :span='4' class='cardBtn'>
                <slot>
                    <el-button v-if='fill.active' @click='goPracticeDetail' type='text'>
                        <i v-if='fill.active' class="fa fa-chevron-right"></i>
                    </el-button>
                    <el-button type='primary' v-if='!fill.active' @click='joinPlan'>加入</el-button>
                </slot>
            </el-col>
        </el-row>
    </div>
</template>

<style scoped>
    .active {
        cursor: pointer;
    }

    .expire {
        color: #888;
    }

    .ptitle {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        margin-left: 12px
    }

    .cardLeft p {
        font-size: 13px;
        color: #888;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        align-items: center;
        display: flex;
    }

    .card:hover {
        /*        box-shadow: 0 0 12px #888;*/
    }

</style>
