<script src="./PracticeCard.js"></script>

<template>
    <div sid='PracticeCard'>
        <el-row class="card">
            <el-col :span='20' class='cardLeft'>
                <div class='ptitle' :class='{expire:!fill.open}'>{{fill.title}}</div>
                <p>班级 : {{fill.group.name}}</p>
                <p>周期 : {{fill.begin.substr(0,10)}} ~ {{fill.end.substr(0,10)}}</p>
            </el-col>
            <el-col :span='4' class='cardBtn'>
                <el-button v-if='fill.active && fill.open' @click='goPacticeDetail'>
                    <i v-if='fill.active' class="fa fa-chevron-right"></i>
                </el-button>
                <el-button type='primary' v-if='fill.open'  @click='activePlan'>加入</el-button>
            </el-col>
        </el-row>
    </div>
</template>

<style scoped>
    .expire {
        color: #888;
    }

    .ptitle {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        margin-left: 12px
    }

    .cardLeft p {
        font-size: 13px;
        color: #888;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        align-items: center;
        display: flex;
    }

    .card:hover {
        /*        box-shadow: 0 0 12px #888;*/
    }

</style>
