<script src="./TaskCard.js"></script>

<template>
    <div sid='TaskCard'>
        <el-row class="card">
            <el-col :span='22' :lg='22' class='cardLeft'>
                <div class='inline lbtnGrp'>
                    <div v-if='fill.check && fill.check.state!="reject"' class='checkPart'>
                        <el-tooltip v-show='fill.check.pass' content="已通过" placement="right-start">
                            <i class="fa fa-check fa-lg priColor"></i>
                        </el-tooltip>
                        <el-tooltip v-show='!fill.check.pass && !fill.check.state!="reject"' content="等待审核" placement="right-start">
                            <i class="fa fa-clock-o"></i>
                        </el-tooltip>
                    </div>
                    <el-tooltip v-if='fill.check && fill.check.state=="reject"' placement="right-start">
                        <div slot="content" class='tip'>您的提交被老师驳回，请检查修改后重新提交</div>
                        <el-button type='danger' style='padding:18px' @click='submit'>重新提交</el-button>
                    </el-tooltip>
                    <el-tooltip v-if='!fill.check' placement="right-start">
                        <div slot="content" class='tip'>如果您已经完成此任务，请点击提交按钮，请求审核通过</div>
                        <el-button  type='primary' style='padding:18px' @click='submit'>提交</el-button>
                    </el-tooltip>
                </div>
                <div class='inline' style='padding-left:12px'>
                    <div v-show='!fill.link' class='ptitle'>{{fill.type}} : {{fill.title}}</div>
                    <a v-show='fill.link' class='ptitle' :href='fill.link' target="_blank">{{fill.type}} : {{fill.title}}</a>
                    <p>{{fill.desc}}</p>
                </div>
            </el-col>
            <el-col v-show='fill.link' :span='2' class='cardBtn'>
                <a :href='fill.link' target="_blank">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </el-col>
        </el-row>
    </div>
</template>

<style scoped>
    .tip{
        width:120px
    }

    .priColor {
        color: #009688;
    }

    .lbtnGrp {
        width: 60px;
        border-right: 1px solid #CCC;
        height: 100%;
    }

    .inline {
        display: inline-block;
        vertical-align: middle;
    }

    .cardcheck {
        text-align: center;
        cursor: pointer;
        height: 100%;
        margin-left: -8px;
    }

    .curpointer {
        cursor: pointer;
    }

    .ptitle {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0;
    }

    .checkPart {
        text-align: center;
        padding-right: 8px;
    }

    .cardLeft p {
        font-size: 13px;
        color: #666;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        align-items: center;
        display: flex;
        cursor: pointer;
    }

    .card2:hover {
        box-shadow: 0 0 12px #888;
    }

</style>
