<script src="./UserCard.js"></script>

<template>
    <div id='UserCard'>
        <el-row class="card">
            <el-col :span='20' class='cardLeft elps'>
                <div @click='goUserDetail'>
                    <img :src='fill.avatar' class='avatar ib' />
                    <div class="ib" style="margin-left:12px">
                        <div class='ptitle elps' :class='{unactive:!fill.active && role=="普通成员"}'>
                            <span>{{fill.name}}</span>
                            <span v-show='role=="普通成员"'>({{fill.active?(fill.alias||"无名"):"未激活"}})</span>
                        </div>
                        <p v-if='role'>{{role}}</p>
                        <p v-if='fill.school'>院校 : {{fill.school}}</p>
                        <p v-if='fill.archive'>成就 : {{fill.archive}}</p>
                    </div>
                </div>
            </el-col>
            <el-col :span='4' class='cardBtn'>
                <slot><i class="fa fa-chevron-right" @click='goUserDetail'></i></slot>
            </el-col>
        </el-row>
    </div>
</template>

<style scoped>
    .elps {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }

    .unactive {
        color: #AAA
    }

    .ib {
        display: inline-block;
        vertical-align: middle;
    }

    .avatar {
        width: 64px;
        height: 64px;
        border-radius: 128px;
        border: 1px solid #AAA;
        background: #EFEFEF;
    }

    .ptitle {
        font-size: 15px;
        font-weight: bold;
        margin: 8px 0;
    }

    .cardLeft {
        margin-left: 0px;
        background: #FFF
    }

    .cardLeft p {
        font-size: 13px;
        color: #666;
        margin: 4px 0;
    }

    .cardBtn {
        text-align: right;
        margin-right: 12px
    }

    .cardBtn i {
        color: #AAA
    }

    .card {
        border: 1px solid #AAA;
        border-radius: 0;
        padding: 12px;
        cursor: pointer;
        align-items: center;
        display: flex;
    }

    .card:hover {
        box-shadow: 0 0 12px #888;
    }

</style>
